@model IEnumerable<DevNet.Models.ProgrammingLanguage>

@{
    ViewBag.Title = "Manage Programming Languages";
}


<h2>Manage Programming Languages</h2>

<div class="btn-group-lg">
    <button type="button" class="btn btn-primary btn-lg button-color">@Html.ActionLink("Create New", "Create")</button>
    <button type="button" class="btn btn-primary btn-lg button-color">@Html.ActionLink("Manage Site", "Manage", "Home")</button>
</div>
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProgrammingLanguageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProgrammingLanguageName)
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm button-color">@Html.ActionLink("Edit", "Edit", new { id = item.ProgrammingLanguageID })</button>
                <button type="button" class="btn btn-primary btn-sm button-color">@Html.ActionLink("Details", "Details", new { id = item.ProgrammingLanguageID })</button>
                <button type="button" class="btn btn-primary btn-sm button-color">@Html.ActionLink("Delete", "Delete", new { id = item.ProgrammingLanguageID })</button>
            </div>
        </td>
    </tr>
}

</table>
