@model IEnumerable<DevNet.Models.FavoriteIDE>

@{
    ViewBag.Title = "Manage Favorite IDEs";
}

<h2>Manage Favorite IDEs</h2>

<div class="btn-group-lg">
    <button type="button" class="btn btn-primary btn-lg button-color">@Html.ActionLink("Create New", "Create")</button>
    <button type="button" class="btn btn-primary btn-lg button-color">@Html.ActionLink("Manage Site", "Manage", "Home")</button>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteIDEName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteIDEName)
        </td>

        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm button-color">@Html.ActionLink("Edit", "Edit", new { id = item.FavoriteIDEID })</button>
                <button type="button" class="btn btn-primary btn-sm button-color">@Html.ActionLink("Details", "Details", new { id = item.FavoriteIDEID })</button>
                <button type="button" class="btn btn-primary btn-sm button-color">@Html.ActionLink("Delete", "Delete", new { id = item.FavoriteIDEID })</button>
            </div>
        </td>
    </tr>
}

</table>
