@model DevNet.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";

}

<!-- Custom styles for this template -->
<link href="~/Content/dashboard.css" rel="stylesheet" />
<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="js/ie-emulation-modes-warning.js"></script>


<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Figure 1</h4>
                    <span class="text-muted">Software Specialization Distribution</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Figure 2</h4>
                    <span class="text-muted">Correlation Between IDE use and Programming Language</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Figure 3</h4>
                    <span class="text-muted">Language Popularity by Age Group</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Figure 4</h4>
                    <span class="text-muted">Software Specialization by Location</span>
                </div>
            </div>

            @{

                if (Model.HistoricData != null)
                {
                    <h2 class="sub-header">Historic Data</h2>
                    <div class="table-responsive">
                        <table class="table dashboard-striped">
                            <thead>
                                <tr style="background-color: rgba(89,0,14,.6);">
                                    <th>Date Of Birth</th>
                                    <th>Favorite IDE</th>
                                    <th>Software Specialty</th>
                                    <th>Programming Language</th>
                                    <th>Preferred RSS Feed Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (IList<string> record in Model.HistoricData)
                                {
                                    <tr style="background-color: rgba(89,0,14,.6); color: #cab1b1;">
                                        <td>@record[0]</td>
                                        <td>@record[1]</td>
                                        <td>@record[2]</td>
                                        <td>@record[3]</td>
                                        <td>@record[4]</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                }
            }

            
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="js/vendor/holder.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

