@model PagedList.IPagedList<DevNet.Models.Dashboard>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Dashboard";

}

<!-- Custom styles for this template -->
<link href="~/Content/dashboard.css" rel="stylesheet" />
<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="js/ie-emulation-modes-warning.js"></script>


<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Figure 1</h4>
                    <span class="text-muted">Software Specialization Distribution</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Figure 2</h4>
                    <span class="text-muted">Correlation Between IDE use and Programming Language</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Figure 3</h4>
                    <span class="text-muted">Language Popularity by Age Group</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Figure 4</h4>
                    <span class="text-muted">Software Specialization by Location</span>
                </div>
            </div>

            @{

               
                if (Model != null)
                {
                    <h2 class="sub-header">Historic Data</h2>
                    <div class="table-responsive">
                        <table class="table dashboard-striped">
                            <thead>
                                <tr style="background-color: rgba(89,0,14,.6);">
                                    <th>@Html.ActionLink("Date Of Birth", "Dashboard", new { sortOrder = ViewBag.DateSortParam })</th>
                                    <th>@Html.ActionLink("Favorite IDE", "Dashboard", new { sortOrder = ViewBag.IDESortParam })</th>
                                    <th>@Html.ActionLink("Software Specialty", "Dashboard", new { sortOrder = ViewBag.SoftwareSortParam })</th>
                                    <th>@Html.ActionLink("Programming Language", "Dashboard", new { sortOrder = ViewBag.ProgrammingSortParam })</th>
                                    <th>@Html.ActionLink("Preferred RSS Feed Category", "Dashboard", new { sortOrder = ViewBag.RssSortParam })</th>
                                </tr>
                            </thead>
                            <tbody>
                
                                @foreach (DevNet.Models.Dashboard record in Model)
                                {
                                    <tr style="background-color: rgba(89,0,14,.6); color: #cab1b1;">
                                        <td>@record.DateOfBirth.ToShortDateString()</td>
                                        <td>@record.FavoriteIDEName</td>
                                        <td>@record.SoftwareSpecialtyName</td>
                                        <td>@record.ProgrammingLanguageName</td>
                                        <td>@record.PreferredRSSFeed</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                        <br />
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("Dashboard", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                }
            }

            
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="js/vendor/holder.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

