<<<<<<< HEAD
﻿
    @using DevNet.Models;
    @{
        ViewBag.Title = "Home Page";

        var lstAutomobiles = AutoViewModel.Automobiles;

        dynamic stuff = Newtonsoft.Json.JsonConvert.DeserializeObject(lstAutomobiles.ToString());

        var Results = stuff.Results;
        var output1 = stuff.Results.output1;
        var value = stuff.Results.output1.value;
        var ColumnNames = stuff.Results.output1.value.ColumnNames[0].Value;

        var values = stuff.Results.output1.value.Values.Count;
        var value1 = stuff.Results.output1.value.Values[0][0].Value;
        var value2 = stuff.Results.output1.value.Values[1][0].Value;

    }
    <div class="jumbotron">
        <h1>Test Page for Automobile Price Predictive Analyics</h1>
        <p class="lead">Here is where I am practicing consuming a predictive analytics web service created from an experiment in Azure's Machine Learning.</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Web Service Results</h2>

            <div id="body">
                @*<input type="button" id="btnGetPricePrediction" value="Click to get price prediction"/>*@
                <div id="result">@ColumnNames</div>
                <div id="result">@value1</div>
                <div id="result">@value2</div>
            </div>

           
            <ul>
                @foreach (System.ServiceModel.Syndication.SyndicationItem noticia in (List<System.ServiceModel.Syndication.SyndicationItem>)ViewData["ultimasNoticias"])
                    {
                    <li><a href="@noticia.Id" target="_blank">@noticia.Title.Text </a></li>
                    }
            </ul>
            
        </div>

=======
﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DEVNET</h1>
    <p class="lead">DevNet is a portal that serves as an online community for developers and IT employeers to network and talk about technology as well as share knowledge.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET RSS Feed</h2>
        <ul>
           <li>Learn about the latest in ASP.NET Web API 2</li>
           <li>Build realtime web applications with SignalR.</li>
           <li>Deploy a Mobile-Friendly ASP.NET MVC 5 Web Application on Windows Azure Web Sites</li>
           <li>Develop iPhone applications with ASP.NET</li>
        </ul>
    </div>
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>*@
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
>>>>>>> f5c4996c2d95ded4624d8ac2b91573af5262a899
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>
